div{
    background: rgb(162, 99, 180) ;
    width: 200px;
    height: 200px;

    max-width: 400px;
    min-width: 300px;

    max-height: 400px;
    min-height: 300px;

    /*     PADDING  */
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    padding: 60px; /*Aplica a los cuatro cuadrantes*/

    /* BORDER*/

    border-top-width: 20px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom: 20px;

    border-color: black;
    border-style: double;
    border-radius: 100%;

    /* MARGIN */
    

}

 

 