div{
    width:  2000px;
    height: 200px;

}

.pantalla-tv{
    display: flex;
    width: 100px;
    height: 100px;
}

.pantalla-tv div{
    flex: 1;
    height: 100%;
}


#aplicacolor1{
    background-color: blue;
}

#aplicacolor2{
    background-color: red;
}

#aplicacolor3{
    background-color: yellow;
}

#aplicacolor4{
    background-color: purple;
}

#aplicacolor5{
    background-color: orange;
}

#Imagen-cuadro{
width: 25%;
height: 50vh;

background: blue url(img/image\ copy.png) no-repeat center;

}

