header{
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    background: rgb(1, 208, 255);
}
nav{
    width: 100%;
    height: 50px;
    background: rgb(253, 0, 0);
    position: fixed;

    top: 100px;
    left: 0;

    /*
    */
}

article{
    background: rgb(221, 0, 255);
    position: fixed;

    top: 150px;
    left: 80%;

    width: 80%;
    height: 100%;

}

aside{
    background: rgb(221, 0, 255);
    position: fixed;

    top: 150px;
    right: 80%;

    width: 20%;
    height: 100%;
}

footer{
    background: green;
    position: fixed;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 50px;
}
